footer {
  background: #d7e1eb;
  margin-top: 50px;
}
footer .footer-section {
  width: 85%;
  margin: 0 auto;
}
footer .footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid;
}
footer .footer-list section {
  padding: 40px 0px 24px 0px;
}
footer .footer-list section ul {
  margin-top: 16px;
}
footer ul {
  color: #28323c;
  line-height: 150%;
}
footer a {
  color: #28323c;
}
footer .trade-change {
  text-align: center;
  padding: 25px 0px;
}