@mixin flexMain($flexM, $col, $cent) {
  display: $flexM;
  flex-direction: $col;
  align-items: $cent;
}
main {
  margin-top: 40px;
  .grid-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, auto));
    width: 85%;
    margin: 0 auto;
    grid-gap: 25px;
    justify-content: space-between;
    .lists-panel-left {
      @include flexMain(flex, column, center);
      grid-gap: 20px;
    }
  }
}
.big-center-section {
  @include flexMain(flex, column, center);
  justify-content: space-between;
  grid-gap: 42px;
  .center-section {
    border-radius: 10px;
    @include flexMain(flex, row, center);
    height: 100%;
    background: #ffffff;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: -23px;
    .center-title {
      h2 {
        text-transform: uppercase;
        &:nth-child(2) {
          color: #8778f5;
        }
      }
      p {
        margin: 6px 0px 34px 0px;
      }
    }
    .go-catalog {
      background: #ffffff;
      border-radius: 10px;
      border: 2px solid #8778f5;
      padding: 10px 20px;
    }
  }
  .slide-img {
    display: flex;
    align-items: flex-end;
    grid-gap: 15px;
    width: 100%;
    div {
      width: 85px;
      border-radius: 10px;
      background: #ffffff;
      border-radius: 10px;
      padding: 10px;
      img {
        width: 100%;
        margin: 4px;
      }
    }
  }
}

.list-panel {
  width: 270px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(115, 200, 235, 0.15);
  border-radius: 10px;
  padding: 26px 10px;
  display: flex;
  align-items: center;
  strong {
    margin-left: 24px;
  }
}

.login-block {
  width: 280px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(145, 145, 145, 0.15);
  border-radius: 10px;
  background: #ffffff;
  border-radius: 10px;

  @include flexMain(flex, column, center);
  justify-content: space-around;
  .user-img {
    @include flexMain(flex, column, center);
    text-align: center;
  }
  .logo-user {
    background: #d7e1eb;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    @include flexMain(flex, color, center);
    justify-content: center;
  }
  .login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
  }
  .login {
    background: #73c8eb;
    box-shadow: 0px 25px 25px -12px rgba(80, 150, 180, 0.4);
    border-radius: 6px;
    padding: 10px 20px;
    border: none;
  }
  .sign-in {
    margin-top: 16px;
    background: #96dcf5;
    box-shadow: 0px 10px 10px -5px rgba(80, 150, 180, 0.6);
    border-radius: 6px;
    padding: 10px 20px;
    border: none;
  }
}

.cards-items-list {
  width: 85%;
  margin: 0 auto;
}
.cards-section {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 20px;
  justify-content: space-between;
  margin-top: 24px;
  .card {
    width: 270px;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 0 15px rgba(115, 200, 235, 0.15);
    border-radius: 8px;
  }
  .buttons-card {
    @include flexMain(flex, row, center);
    justify-content: space-between;
  }
  .lot-btn {
    background-color: #f0507d;
    border: none;
    padding: 6px 8px 6px 26px;
    font-size: 12px;
  }
  .img-block {
    display: flex;
    flex-direction: column;
    .img-card {
      border-bottom: 1px solid;
      padding: 30px 20px;
    }
    .text-card {
      color: #28323c;
      margin: 20px 0 8px;
    }
    .price {
      margin-top: 8px;
    }
    .add-corz {
      background: #aaa0fa;
      box-shadow: 0 10px 10px -5px rgba(115, 95, 180, 0.6);
      border-radius: 6px;
      border: none;
      padding: 11px 0;
      text-align: center;
      margin-top: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      img {
        margin-right: 6px;
      }
    }
  }
}

.static-sections {
  margin: 24px 0 56px;

  .static-sections-list {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    section {
      background: #ffffff;
      border-radius: 10px;
      width: 370px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 24px;
    }
    .static-btn {
      margin-top: 35px;
      background-color: #aaa0fa;
      border: none;
      padding: 10px 40px;
      box-shadow: 0px 10px 10px -5px rgba(115, 95, 180, 0.6);
      border-radius: 6px;
    }
    .static-income {
      margin-top: 30px;
    }
  }
  .static-goods {
    display: flex;
    grid-gap: 5px;
    .static {
      width: 35px;
      height: 55px;
      background: #dcd7ff;
      transform: matrix(-1, 0, 0, 1, 0, 0);
      &::before {
        content: '';
        width: 35px;
        height: 10px;
        background: #8778f5;
        position: absolute;
        border-bottom: 2px solid white;
      }
    }
  }
}
